<main>
    <div class="styleCSS">
        <p class="category-selection"> Séléctionnez votre catégorie : </p>
        <ul class="category">
            <li *ngFor="let emoticones of imgContent">
                <label [ngClass]="{'selected': emoticones.img === selectedEmoticon}">
                    <!-- = si l'émoticones.img est séléctionné alors .selected s'applique -->
                    <input type="radio" name="category" [(ngModel)]="selectedEmoticon" [value]="emoticones.img">
                    <span class="emoticon">{{emoticones.img}}</span>
                </label>
            </li>
        </ul>

        <p class="title-category"> Quelle tâche avez vous a effectuer ? </p>
        <br>

        <form class="form-body" #form="ngForm" (ngSubmit)="createTask()">
            <!-- form est associé à un nom de référence (#form="ngForm") qui permet de référencer le formulaire  -->
            <textarea [(ngModel)]="task.content" required placeholder="Exemple : Faire les courses" name="content"
                class="form-control" ngDefaultControl>
            </textarea>
            <div class="labelDiv">

                <label class="checkbox">
                    <input [(ngModel)]="task.isUrgent" type="checkbox" name="urgent" value="urgent">
                    <span class="checkmark"> </span>
                    La tache est urgente ⚠️
                </label>
            </div>

            <button class="flex" [ngClass]="{'disabled-btn': !task.content}" [disabled]="!task.content"> Valider ma
                tâche</button>
        </form>
    </div>
</main>