<section>

    <div class="margin-left">

        <form class="form-body" #form="ngForm" (ngSubmit)="updateTask(task)">
            <p class="category-selection"> Séléctionnez votre catégorie : </p>
            <ul class="category">
                <!--
                    EMOTICONES
                     categoryList = appel au mock  -->
                <li *ngFor="let category of categoryList">
                    <label [ngClass]="{'selected': category === task.category}">
                        <!-- = si l'émoticones est séléctionné alors .selected s'applique -->
                        <input type="radio" name="category" [(ngModel)]="task.category" [value]="category">
                        <span class="emoticon">{{category}}</span>
                    </label>
                </li>
            </ul>
            <p class="title-category"> Quelle tâche avez vous a effectuer ? </p>
            <textarea [(ngModel)]="task.content" name="content-task-updated">
    <li *ngFor="let update of task">
        {{task.content}}
    </li>
  </textarea>
            <div class="labelDiv">

                <label class="checkbox">
                    <input [(ngModel)]="task.isUrgent" type="checkbox" name="urgent" value="urgent">
                    <span class="checkmark"> </span>
                    La tache est urgente ⚠️
                </label>
            </div>

            <button class="flex" [ngClass]="{'disabled-btn': !task.content}" [disabled]="!task.content"> Modifier ma
                tâche</button>
        </form>
        </div>
</section>