<main>
    <ng-container *ngIf="todoTasks.length > 0; else noTask" class="containerNgIf">

        <ul>
            <li *ngFor="let task of todoTasks">
                <input type="checkbox" name="task-{{task.id}}" id="task-{{task.id}}">
                <label for="task-{{task.id}}">
                    {{ task.content }}
                </label>
            </li>
        </ul>

    </ng-container>
    <ng-template #noTask>
        <h1>
            Aucune tache pour le moment 🙌
        </h1>
        <button routerLink="/createTask">
            Créer une tâche
        </button>


    </ng-template>



</main>

<!-- 
 
 -->