h2{
    text-align: center;
    margin-bottom: 10px;
}

.centeredContainerForNoTasks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
}




/* CHECKBOX  */
.checkboxStyle {
    vertical-align: middle;
    margin: 10px 0;
  }
input[type="checkbox"].checkboxStyle {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #040722;
    position: relative;
    cursor: pointer;
    margin-left: 28px;
  }
  input[type="checkbox"] + label {
    margin-left: 10px;
   
  }
  
  input[type="checkbox"].checkboxStyle:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('/assets/check-24.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 18px;
    height: 18px;
  }

 