<main>     
    <ng-container *ngIf="todoTasks.length > 0; else noTask" class="containerNgIf">

        <div class="centrer">  
        <ul>
            <li *ngFor="let task of todoTasks">
                <input type="checkbox" class="checkboxStyle" name="task-{{task.id}}" id="task-{{task.id}}">
                <label for="task-{{task.id}}">
                    {{ task.content }}
                </label>
            </li>
        </ul>
    </div>
    </ng-container>
    
    <ng-template #noTask>
            <div class="centeredContainerForNoTasks">
            <h2>
                Aucune tache pour le moment 🙌
            </h2>
            <button routerLink="/createTask">
                Créer une tâche
            </button>
        </div>


        </ng-template>


    </main>


