button {
    display: inline-block;
    margin: 2px;
    font-size: 24px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: white;
}

.yellow-button {
    background-color: #F3D24F;
}

.neutral-button {
    background-color: #1D2038;
}

.pink-button {
    background-color: #E475F1;
}

.green-button {
    background-color: #88E7A1;
}

.flexbox {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}