  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
  
* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    background-color: #040722;
}

main {
    flex: 1;
    overflow: scroll;
    height: 100vh;
}


/* Balises  */
h1,
h2 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-left: 25px;
}
li {
    color: white;
}
button {
    background-color: #64A7D9;
    color: white;
    border-radius: 15px;
    padding: 10px;
    width: 248px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    display: block;
    margin: auto;
    bottom: 0;
}
/* component create task */
.title-category {
    color: white;
    font-weight: 700;
}

/* CHECKBOX  */
.checkboxStyle {
    vertical-align: middle;
    margin: 10px 0;
  }
input[type="checkbox"].checkboxStyle {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #040722;
    position: relative;
    cursor: pointer;
    margin-left: 28px;
  }
  input[type="checkbox"] + label {
    margin-left: 10px;
   
  }
  
  input[type="checkbox"].checkboxStyle:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('/assets/check-24.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 18px;
    height: 18px;
  }

 

  